
.navbar-center {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
    color: white;
}


.textBox {
    width: 20% !important;
}

.searchBtn {
    height: 38px;
}

.border{
    border: 1px solid lightgray;
    padding: 5px;
    margin: 2px;
    margin-right: 10px;
}

.size{
    font-size: 2em;
}


.onTop{
    display: block;
    margin: auto;
}


.floatLeft{
    float: left;
}

.clear{
    clear: both;
}

.styleList{
    margin: 3px;
    margin-bottom: 7px;
    border: 1px solid lightgray;
    padding: 7px;
}

#displayWeather{
    width: 995px;
    height: 248px;
    padding-bottom: 2px;
    margin: 1px;
}

